.root {
    flex-grow: 1;
}

.flex-div-column {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px;
    flex-wrap: wrap;
}

.flex-div-row {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-div-center-align {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.paper {
    height: 140px;
    width: 100px;
}

.control {
    padding: 10px;
}